<table name="pt" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Name</a></th>
    <th><a href="javascript:void(0)">Age</a></th>
    <th><a href="javascript:void(0)">Phone Number</a></th>
    <th><a href="javascript:void(0)">Email</a></th>
    <th><a href="javascript:void(0)">Resume</a></th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let applicant of applicants">
    <td>{{applicant.name}}</td>
    <td>{{applicant.age}}</td>
    <td>{{applicant.phone_number}}</td>
    <td>{{applicant.email}}</td>
    <td>{{applicant.resume}}</td>
  </tr>
  </tbody>
</table>
<app-add-applicants></app-add-applicants>
