<form #updateDe="ngForm" ngForm>
  <div class="form-group">
    <label for="id">Department id:</label>
    <input type="text" class="form-control" id="id" name="id" ngModel>
  </div>
  <div class="form-group">
    <label for="department_name">Department name:</label>
    <input type="number" class="form-control" id="department_name" name="department_name" ngModel>
  </div>
  <button type="button" class="btn btn-primary" (click)="save(updateDe.value)">save</button>
</form>

