<table name="pt" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Department id</a></th>
    <th><a href="javascript:void(0)">Department name</a></th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let department of departments">
    <td>{{department.id}}</td>
    <td>{{department.department_name}}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deleteDepartment(department)">Delete</button>
      <button type="button" class="btn btn-primary" [routerLink]="['departments/updatedepartment', department.id]">Update</button>
    </td>
  </tr>
  </tbody>
</table>
<app-add-departments></app-add-departments>

