<form #updateAdminEm="ngForm" ngForm>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" ngModel>
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="number" class="form-control" id="age" name="age" ngModel>
  </div>
  <div class="form-group">
    <label for="phone_number">Phone Number:</label>
    <input type="text" class="form-control" id="phone_number" name="phone_number" ngModel>
  </div>
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="text" class="form-control" id="email" name="email" ngModel>
  </div>
  <div class="form-group">
    <label for="job_title">Job Title:</label>
    <input type="text" class="form-control" id="job_title" name="job_title" ngModel>
  </div>
  <div class="form-group">
    <label for="department">Department:</label>
    <input type="text" class="form-control" id="department" name="department" ngModel>
  </div>
  <button type="button" class="btn btn-primary" (click)="save(updateAdminEm.value)">save</button>
</form>
<!--  <p>{{updateEm.value | json}}</p>-->

