<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="container-header">
        <a class="navbar-brand" href="#">Employee system</a>
      </div>
      <ul class="nav navbar-nav" >
        <li>
          <a routerLink="/employees" routerLinkActive="active">Employee Information</a>
        </li>
        <li>
          <a routerLink="/salary" routerLinkActive="active">Salary</a>
        </li>
        <li>
          <a routerLink="/applicants" routerLinkActive="active">Applicant Information</a>
        </li>
        <li>
          <a routerLink="/logout" routerLinkActive="active">Log Out</a>
        </li>
<!--        <ng-container *ngIf="('ROLE_ADMIN' === (this.authService.authName | async))">-->
        <ng-container>
          <li class="dropdown" ngbDropdown>
            <a class="dropdown-toggle" data-toggle="dropdown">Admin</a>
            <ul>
              <li><a routerLink="/admin/admin-employees">Employee</a></li>
              <li><a routerLink="/admin/admin-applicants">Applicant</a></li>
              <li><a routerLink="/departments">Department</a></li>
              <li><a routerLink="/admin/admin-salary">Salary</a></li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
