<table name="pt" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th><a href="javascript:void(0)">Name</a></th>
    <th><a href="javascript:void(0)">Age</a></th>
    <th><a href="javascript:void(0)">Phone Number</a></th>
    <th><a href="javascript:void(0)">Email</a></th>
    <th><a href="javascript:void(0)">Job Title</a></th>
    <th><a href="javascript:void(0)">Department</a></th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.name}}</td>
    <td>{{employee.age}}</td>
    <td>{{employee.phone_number}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.job_title}}</td>
    <td>{{employee.department}}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
      <button type="button" class="btn btn-primary" [routerLink]="['admin/admin-employees/updateemployee', employee.id]">Update</button>
    </td>
  </tr>
  </tbody>
</table>
<app-add-employees></app-add-employees>

